@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 18px
	min-width: 320px
	position: relative
	line-height: 1.5
	font-family: $default-font
	overflow-x: hidden
	background-color: $gray
	margin: 0
	padding: 0

*
	box-sizing: border-box
	&::before, &::after
		box-sizing: border-box

.container
	position: relative
	max-width: 1200px
	margin: 0 auto

.row
	display: flex
	flex-wrap: wrap
	.col
		position: relative
		flex: 1 1 33%
		min-width: 360px


.header
	border-top: 9px $accent solid

.header__head
	font-size: 42px
	line-height: 1.2
	text-transform: uppercase
	text-align: center
	margin-top: 40px
	margin-bottom: 90px
	font-family: "ProximaNovaBold", sans-serif
	font-weight: 700
	color: #3c3636

.header-center
	position: relative
	background-color: $accent
	border-bottom: 1px solid darken($accent, 10%)
	margin-bottom: 85px

.header__title
	position: relative
	text-transform: uppercase
	font-size: 58px
	line-height: 54px
	font-weight: 700
	padding-bottom: 20px
	border-bottom: 1px solid rgba(#000, .1)
	margin-top: 36px
	margin-bottom: 20px
	font-family: "BebasNeueBold", sans-serif
	font-weight: 700
	&::before
		content: ""
		position: absolute
		bottom: -2px
		background-color: rgba(#fff, .2)
		width: 100%
		height: 1px
		display: block
		z-index: 2
	>span
		display: block
		white-space: nowrap

.header__desc
	font-size: 19px
	line-height: 1.1
	margin: 5px 0

.header__list
	font-size: 19px
	padding: 0
	margin-bottom: 35px
	>li
		list-style-type: none
		position: relative
		padding-left: 24px
		&::before
			position: absolute
			content: ""
			width: 10px
			height: 10px
			background-color: #000
			border-radius: 50%
			left: 0
			top: calc(50% - 5px)

.header__img
	position: absolute
	z-index: 2
	>img
		margin-left: -48px
		margin-top: -60px
	&::before
		content: ""
		position: absolute
		background-image: url(../img/orange.png)
		background-repeat: no-repeat
		bottom: 0px
		left: -162px
		width: 300px
		height: 167px

.getkook
	position: relative
	width: 330px
	float: right
	background-color: #333
	color: #fff
	display: flex
	height: 100%
	flex-direction: column
	text-align: center
	align-items: center
	justify-content: center
	padding: 0 24px
	.getkook__text
		margin: 25px 0
		span
			font-size: 19px
			line-height: 1.3
			font-family: "ProximaNovaLight", sans-serif
			font-weight: 400
		h3
			font-size: 46px
			line-height: 1.1
			margin: 0
			text-transform: uppercase
			color: $accent
			font-weight: 700
	.getbook__input
		width: 100%
		height: 56px
		border-radius: 6px
		border: none
		padding: 6px 15px
		font-size: 21px
		margin-bottom: 18px
		outline: none
	.getbook__btn
		font-size: 24px
		font-weight: 700
		margin-bottom: 20px
		color: #fff
		background: linear-gradient(to bottom, #ff759d 0%, #f02964 50%, #851737 100%)
		background-blend-mode: soft-light
		border: none
		outline: none
		height: 56px
		width: 100%	
		text-transform: uppercase
		border-radius: 6px
		cursor: pointer
	.getbook__error
		position: absolute
		color: red
		top: 130px
		left: 30px

.header__bottom
	position: relative
	text-align: center
	max-width: 530px
	margin: 50px auto 44px
	font-family: "ProximaNovaBold", sans-serif
	font-weight: 700
	font-size: 28px
	line-height: 1
	&::before
		position: absolute
		content: ""
		background-image: url(../img/arrow.png)
		background-repeat: no-repeat
		width: 200px
		height: 150px
		top: -95px
		right: -200px


.owl
	margin-bottom: 50px
	position: relative
	.owl-carousel
		border-top: 1px solid #dedede
		padding-top: 50px
	.owl-carousel__slide
		display: flex
	.slide-img
		flex: 1 1 30%
		min-width: 172px
		width: 172px
		height: 172px
		border: 1px solid #d5d5d5
		margin-right: 20px
		border-radius: 5px
		overflow: hidden
	.slide__desc
		line-height: 24px
		margin: 0
		padding-bottom: 15px
		position: relative
		&::before
			content: ""
			position: absolute
			bottom: 0
			width: 100%
			height: 1px
			background-color: $accent
		&::after
			content: ""
			position: absolute
			width: 14px
			height: 14px
			left: 0
			bottom: -14px
			background-color: $accent
	.slide__name
		font-size: 23px
		font-weight: 700
		font-family: "ProximaNovaBold", sans-serif
		margin-top: 20px
		margin-bottom: 0
	.slide__city
		font-size: 16px
		margin-top: 0

	.owl-navigation
		position: absolute
		top: 50%
		transform: translateY(-505)
		width: 100%
		.owl__next, .owl__prev
			position: absolute
			background-image: url(../img/owl-nav.png)
			background-repeat: no-repeat
			width: 40px
			height: 40px
			cursor: pointer
			z-index: 5
			opacity: .8
			&:hover
				opacity: 1
		.owl__prev
			left: -56px
		.owl__next
			right: -56px
			background-position: -30px 0
			



@import "media" // Всегда в конце
