@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 18px
	min-width: 320px
	position: relative
	line-height: 1.5
	font-family: $default-font
	overflow-x: hidden
	background-color: $gray
	margin: 0
	padding: 0

.container
	max-width: 1200px
	margin: 0 auto

.row
	display: flex
	flex-wrap: wrap
	.col
		flex: 1 1 33%
		min-width: 300px


.header
	border-top: 9px $accent solid

.header__head
	font-size: 42px
	text-transform: uppercase
	text-align: center

.header-center
	background-color: $accent
	border-bottom: 1px solid darken($accent, 10%)




@import "media" // Всегда в конце
